[Desktop Entry]
Encoding=UTF-8
Name=Verge
Comment=Verge P2P Cryptocurrency
Comment[fr]=Verge, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Verge, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/verge-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/verge;
Categories=Office;
