*.tar.gz

nbproject/*

*.exe
src/digitalcoin
src/digitalcoind
src/digitalcoin-cli
src/test/test_digitalcoin
src/qt/test/test_digitalcoin-qt

Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt-obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/digitalcoin-config.h
src/digitalcoin-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
.digitalcoin
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Compilation and Qt preprocessor part
*.qm
Makefile
digitalcoin-qt
Digitalcoin-Qt.app

# Unit-tests
Makefile.test
digitalcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_digitalcoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-digitalcoind-for-test.sh
qa/pull-tester/build-tests.sh

!src/leveldb*/Makefile

/doc/doxygen
