
## <summary>policy for verge</summary>


########################################
## <summary>
##	Transition to verge.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`verge_domtrans',`
	gen_require(`
		type verge_t, verge_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, verge_exec_t, verge_t)
')


########################################
## <summary>
##	Execute verge server in the verge domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`verge_initrc_domtrans',`
	gen_require(`
		type verge_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, verge_initrc_exec_t)
')


########################################
## <summary>
##	Search verge lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`verge_search_lib',`
	gen_require(`
		type verge_var_lib_t;
	')

	allow $1 verge_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read verge lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`verge_read_lib_files',`
	gen_require(`
		type verge_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, verge_var_lib_t, verge_var_lib_t)
')

########################################
## <summary>
##	Manage verge lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`verge_manage_lib_files',`
	gen_require(`
		type verge_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, verge_var_lib_t, verge_var_lib_t)
')

########################################
## <summary>
##	Manage verge lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`verge_manage_lib_dirs',`
	gen_require(`
		type verge_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, verge_var_lib_t, verge_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a verge environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`verge_admin',`
	gen_require(`
		type verge_t;
		type verge_initrc_exec_t;
		type verge_var_lib_t;
	')

	allow $1 verge_t:process { ptrace signal_perms };
	ps_process_pattern($1, verge_t)

	verge_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 verge_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, verge_var_lib_t)

')

